* {
  padding: 0;
  margin: 0;
}
.disp {
  position: relative;
  width: 100%;
  height: auto;
}
.backbutt{
  display: inline;
}
.submenu {
  display: inline;
  float: right;
}

.ar-btn {
  border: none;
}
.me-btn {
  border: none;
}

.coner {
  background-image: url(../image/baketimg2.jpg);
 display: flex;
 flex-direction: column;

}
.coner1{
  margin-top: 20px;
  justify-content: flex-end;
}
.nkar { 
  z-index: 2;
  width: 85px;
  height: 85px;
  background-size: cover;
}
.basketImg {
  margin-left: 30px;
}

.div1 {
  border:  #000 2px solid;
  border-radius: 15px;  
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;  
  background-size: 100% 100%;
  margin-top: 3%; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.3fr;
  grid-column-gap: 100px;
  justify-content: center;
  align-items: center;
  color:white ;
}

.div4 {
  width: 15%;
  height: 50px; 
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 170px;
  position: absolute;
  border:  #000 2px solid;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.3);
}
